@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:@Convert.ToString(ViewBag.colour)">
    <h1 class="display-4" style="text-decoration-color:@Convert.ToString(ViewBag.textColour)">@Convert.ToString(ViewBag.colourName) @Convert.ToString(ViewBag.fruit)</h1>
</div>
