@{ ViewData["Title"] = "Home Page"; }

<body style="background:@Convert.ToString(ViewBag.colour)">
    <div class="text-center" style="color:#fff">
        <h1 style="background: #000">@Convert.ToString(ViewBag.sentence)</h1>
    </div>

</body>